.header-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
}
.header-wrapper {
    border-bottom: 1px solid #f5f5f5;
    img {
        height: 100px;
        width: 128px;
    }
    .brand-title {
        font-size: 20px;
    }
    flex-shrink: 0;
    .flex-space {
        flex-grow: 1;
    }
    .align-login-user {
        margin-top: 10%;
    }
}