table {
    width: 100%;
  }
.linkage-button {
  position: absolute;
  bottom: 50px;
  left: 470px;
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 32px;
  min-height: 28px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  }
  .cursor-pointer {
    cursor: pointer;
  }