table {
    width: 100%;
  }
.linkage-button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 32px;
  min-height: 28px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  }