<div class="form-submit-wrapper">
  <app-form-guideline-banner [navigationLink]="navLink"></app-form-guideline-banner>
  <mat-card class="card-style margin-top-20">
    <mat-card-header>Form Summary</mat-card-header>
  </mat-card>
  <div class="form-summary-desc margin-top-20 clearfix">
    <mat-card class="col-sm-5 float-left">
      <mat-card-header class="header">Form Summary</mat-card-header>
      <mat-card-content>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
        for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
        Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
      </mat-card-content>
    </mat-card>
    <div class="col-sm-1 float-left"></div>
    <mat-card class="col-sm-5 float-right">
      <mat-card-header class="header">Form Summary</mat-card-header>
      <mat-card-content>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
        for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
        Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card-style margin-top-20">
    <mat-card-header>Form Linkage</mat-card-header>
  </mat-card>
  <div class="form-summary-desc margin-top-20 clearfix">
    <mat-card class="col-sm-5 float-left">
      <mat-card-header class="header">Form Linkage</mat-card-header>
      <mat-card-content>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
        for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
        Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card-style margin-top-20">
    <mat-card-header>Fill-in Form</mat-card-header>
  </mat-card>
  <div class="form-summary-desc margin-top-20 clearfix">
    <mat-card class="col-sm-5 float-left">
      <mat-card-header class="header">Fill-in Form</mat-card-header>
      <mat-card-content>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
        for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by
        Cicero are also reproduced in their exact original form.
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card-style margin-top-20">
    <mat-card-header>State Approved Info</mat-card-header>
  </mat-card>
  <div class="form-summary-desc margin-top-20 clearfix">
    <mat-card class="col-sm-5 float-left">
      <mat-card-header class="header">State Approved Info</mat-card-header>
      <mat-card-content>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
        for those interested. Sections 1.10.32 and 1.10.33.
      </mat-card-content>
    </mat-card>
  </div>
</div>