.form-submit-wrapper {
    mat-card.card-style {
        background-color: #f5f5f5;
    }
    .form-summary-desc {
        mat-card {
            box-shadow: none;
        }
        .mat-card-header.header {
            font-weight: 600;
        }
    }
}