<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="mat-display-4"> Hello </div>
<button mat-raised-button>Hello World!</button> -->
<div class="container">
  <mat-toolbar color="primary">
    <span>Angular POC</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-title>Personal Form </mat-card-title>
    <form [formGroup]="personalForm">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="fName" formControlName="fName">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Cars</mat-label>
        <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </mat-form-field>

      <span class="radio-label"> Gender</span>
      <mat-radio-group class="example-full-width" aria-label="Select an option">
        <mat-radio-button class="radio-padding" value="1">Male</mat-radio-button>
        <mat-radio-button class="radio-padding" value="2">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-button class="primary">Submit</button>
    </form>
  </mat-card>
</div>
<!-- <router-outlet></router-outlet> -->