<mat-tab-group>
  <mat-tab label="Form Summary"> Form Summary </mat-tab>
  <mat-tab label="Fill-in Information"> Fill-In Information </mat-tab>
  <mat-tab label="State Approval Information"> State Approval Information  </mat-tab>
  <mat-tab label="Forms Linkage"></mat-tab>
</mat-tab-group>


<!-- <mat-card>


</mat-card>

<mat-sidenav-container class="review-sidenav-container"></mat-sidenav-container>
<mat-sidenav mode="side" opened class="sidenav">
    
     <mat-action-list>
         <button mat-list-item (click)="index=0"> tab 1 fdsjkfdjskfdjskjfkdjkfdsjkjdfk</button>
          <button mat-list-item (click)="index=1"> tab 2 </button>
                </mat-action-list>
</mat-sidenav>

<mat-sidenav-content>

    <router-outlet></router-outlet>
</mat-sidenav-content>

</mat-sidenav-container> -->



