<mat-form-field class="marginleft-20 select-box-width">
  <mat-label i18n="fieldName|Title for Line of Business field@@lineofBusinessfield">Line of Business</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option> -->
  </mat-select>
</mat-form-field>

<mat-form-field class="marginleft-20 select-box-width">
  <mat-label>Category Part</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option> -->
  </mat-select>
</mat-form-field>


<mat-form-field class="marginleft-20 select-box-width">
    <mat-label>Toppings</mat-label>
    <mat-select formControl="toppings" multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
</mat-form-field>

<app-table-component [isSort]="isSortRequired" [columnsList]="columnsList" [colMapping]="colMap" [ElementData]="Element_Data" [isButtonRequired]="tabButton" [buttonName]="deLinkName"
  (selectedData)="formsLinkageSelectedData($event)"
>
</app-table-component>