<mat-form-field class="marginleft-20 col-sm-3 col-md-3 selectgroup">
  <mat-label>Line of Business</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option> -->
  </mat-select>
</mat-form-field>

<mat-form-field class="marginleft-20 col-sm-3 col-md-3 selectgroup">
  <mat-label>Category Part</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option> -->
  </mat-select>
</mat-form-field>


<mat-form-field class="marginleft-20 col-sm-3 col-md-3 selectgroup">
    <mat-label>States</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
</mat-form-field>

<app-table-component [enableSorting]="isSortRequired" [isPaginationRequired]="true" [columnsList]="columnsList" [colMapping]="colMap" [ElementData]="Element_Data" [isButtonRequired]="tabButton" [buttonName]="deLinkName"
  (selectedData)="formsLinkageSelectedData($event)"
>
</app-table-component>