<div class="overlay" *ngIf="isLoading | async">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="container">
  <!-- <mat-toolbar color="primary">
    <span>Angular POC</span>
  </mat-toolbar> -->
  <mat-card class="my-card">
    <mat-card-title>Login Form </mat-card-title>
    <form [formGroup]="personalForm">
      
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <input matInput name="role" formControlName="role">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput name="pass" formControlName="pass">
      </mat-form-field>
      <button mat-button class="primary" (click)="checkRoleData(role)" [disabled]="!personalForm.valid">Next</button>
    </form>
  </mat-card>
</div>