/* You can add global styles to this file, and also import other style files */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 @import '~bootstrap/dist/css/bootstrap.min.css';
 /** Common Styles**/
.my-card {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.primary {
    background-color: #296cbb;
    color: white;
}

.radio-label {
    display: block;
    color: rgba(0,0,0,.54);
    font-size: 12px;
}

.radio-padding {
    padding-right: 10px;
}

.spinner {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.28);
    z-index:99999;
}

.marginleft-20 {
    margin-left: 20px;
}
.text-center {
    text-align: center;
}

.select-box-width {
    width: 500px;
}

mat-form-field {
    display: inherit !important;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    padding-left:10px!important;
}

.radio-side-margin {
    margin-right: 16px;
    .light-grey {
        background-color: lightgrey;
    }
    .margin-top-10 {
        margin-top: 10px;
    }
}

.selectgroup {
    display: inline-block !important;
}